.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin-top: 12px;
    min-height: 90vh;
}

.layout > p-card {
    width: 100%;
}

.layout > app-blindtest-game-quizz {
    width: 100%;
    margin-top: auto;
}