name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      
      - name: Use Node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.0'
      
      - name: Install dependencies
        working-directory: ./mat-frontend
        run: npm ci

      - name: Build production (static)
        working-directory: ./mat-frontend
        run: npm run build -- --output-mode=static

      - name: Prepare static build for SWA
        working-directory: ./mat-frontend
        run: |
          cp -r dist/mat-frontend/browser/* .
          rm -rf ./dist
          echo "Static build prepared."
          echo "Contents of the output directory:"
          ls -la

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_SEA_08E344803 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          skip_app_build: true
          app_location: "./mat-frontend"
          output_location: "."
          api_location: ""

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_SEA_08E344803 }}
          action: "close"
